<appbar></appbar>
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" id="carousel" data-ride="carousel" data-interval="1000000">
  <div class="carousel-inner">
    <div *ngFor="let info of questions" class="carousel-item" [class.active]='info.id == 1'>
        <div class="col-sm">
            <div class="col-sm">
                <div class="row">
                    <div class="mt-3 rounded">
                        <p class="text-center text-white">{{info.enunciado}} </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm col-md-6 col-xl-6 mb-2 mt-2">
                    <div class="border-al pt-2 px-2 rounded-4 align-middle alternativa">
                        <h6 class="text-center text-white">{{info.a1}}</h6>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-xl-6 mb-2">
                    <div class="border-al pt-2 px-2 rounded-4 align-middle alternativa">
                        <h6 class="text-center text-white">{{info.a2}}</h6>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-xl-6 mb-2">
                    <div class="border-al pt-2 px-2 rounded-4 align-middle alternativa">
                        <h6 class="text-center text-white">{{info.a3}}</h6>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-xl-6 mb-2">
                    <div class="border-al pt-2 px-2 rounded-4 align-middle alternativa">
                        <h6 class="text-center text-white">{{info.a4}}</h6>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 my-4">
                    <div class="disable rounded-4 py-1" id="btn_submit">
                        <h6 class="text-center mt-2 text-white">Enviar</h6>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
</div>
    <!-- <div *ngFor="let info of questions" class="col-sm">
        <div class="col-sm">
            <div class="row">
                <div class="bg-white p-3 mt-5 rounded">
                    <p class="text-center">{{info.enunciado}} </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-xl-6 mb-2 mt-5">
                <div class="border-btn pt-2 px-2 rounded-4 align-middle alternativa">
                    <h6 class="text-center">{{info.a1}}</h6>
                </div>
            </div>
            <div class="col-sm col-md-6 col-xl-6 mb-2">
                <div class="border-btn pt-2 px-2 rounded-4 align-middle alternativa">
                    <h6 class="text-center">{{info.a2}}</h6>
                </div>
            </div>
            <div class="col-sm col-md-6 col-xl-6 mb-2">
                <div class="border-btn pt-2 px-2 rounded-4 align-middle alternativa">
                    <h6 class="text-center">{{info.a3}}</h6>
                </div>
            </div>
            <div class="col-sm col-md-6 col-xl-6 mb-2">
                <div class="border-btn pt-2 px-2 rounded-4 align-middle alternativa">
                    <h6 class="text-center">{{info.a4}}</h6>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-xl-12 my-4">
                <div class="disable rounded-4 py-1" id="btn_submit">
                    <h6 class="text-center mt-2">Enviar</h6>
                </div>
            </div>
        </div>
        
    </div> -->
</div>