.border-al{
    border: 1px  solid rgba(0, 0, 0, 0.7);
    border-bottom: 5px  solid rgba(0,0,0,.7);
}

.border-btn{
    border: 2px  solid rgba(24, 194, 95, 0.8) !important;
    border-bottom: 5px  solid rgba(24, 194, 95, 0.8) !important;
}

.border-btn-danger{
    border: 2px  solid rgba(172, 33, 33, 0.8) !important;
    border-bottom: 5px  solid rgba(172, 33, 33, 0.8) !important;
}

.rounded-4{
    border-radius: 1rem;
}

.enabled{
    border: 2px  solid rgba(194,24,91, 0.8) !important;
    border-bottom: 5px  solid rgba(194,24,91, 0.8) !important;
    background-color: rgba(194,24,91,.2);
    color: rgb(194,24,91);
}

.disable{
    background-color: rgba(194,24,91,.125);
    color: rgba(194,24,91,.125);
}

.border-fina{
    border: 2px  solid rgba(24, 194, 95, 0.8) !important;
    border-bottom: 2px  solid rgba(24, 194, 95, 0.8) !important;
}

:host ::ng-deep .mat-horizontal-stepper-header-container { display: none; }