.border-btn{
    border: 1px  solid rgba(0,0,0,.125);
    border-bottom: 5px  solid rgba(0,0,0,.125);
}

.rounded-4{
    border-radius: 1rem;
}

.enabled{
    border: 2px  solid rgba(100, 199, 245, 0.8) !important;
    border-bottom: 5px  solid rgba(100, 199, 245, 0.8) !important;
    background-color: rgba(100, 199, 245,.2);
    color: rgb(0, 174, 255);
}

.disable{
    background-color: rgba(0,0,0,.125);
    color: rgba(0,0,0,.5);
}
